.postID {
    border-left-style: solid;
    border-width: 5px;
    background: #c6c6ec;
    padding: 1%;
    width: 5%;
    min-width: 100px;
    padding-top: 1%;
    float: left;
/* Gradient */
/* FF3.6-15 */
    background: -moz-linear-gradient(left,  #c6c6ec 0%, #c6c6ec 0%, #ffffff 100%); 
/* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(left,  #c6c6ec 0%,#c6c6ec 0%,#ffffff 100%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to right,  #c6c6ec 0%,#c6c6ec 0%,#ffffff 100%); 
/* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6ec', endColorstr='#ffffff',GradientType=1 ); 
}

img{
    width: 75px;
    float: left;
    padding: 5px;
    text-align: center;
}

div{
    padding-left: 1%; 
    padding-right: 1%;
}

.replyBox{
    padding-left: 1%;
    padding-right: 1%;

    width: 55%;
    height: 150px;
    border-width: 2px;
}

.button{
    background-color: #c6c6ec;
    border: none;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 5px #666;
}

.button:hover {background-color: #6666cc;}

.button:active{
    background-color: #777799;
    box-shadow: 3px 1px #666;
    transform: translateY(4px);
}
