<!doctype html>

<html lang="en" ng-app="forum">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="Stylesheet" href="css/fakeForumStyle.css">
  <title>Fake Forum</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  
</head>



<body>
<!--menu bar -->
 <div class="pure-menu pure-menu-horizontal" style="background: #c6c6ec;">
    <a href="index.html" class="pure-menu-heading pure-menu-link"> FakeForum </a>
    <ul class="pure-menu-list" >
        <li class="pure-menu-item"><a href="forum.html" class="pure-menu-link"> Forum </a> </li>
    </ul>
 </div>
 
 
 <!-- all forum posts -->
<div ng-controller="ForumPost as forum" style="padding-left: 1%; padding-right: 1%;">
    <div  ng-repeat="post in forum.posts">
        <hr>
        <div class="postID" style="text-align: center;">
            <img ng-src="{{post.avatar}}"/>
            <p >{{post.postName}}</p>
        </div> 

        <p class="pure-u-8-24" style="padding: 1%;">
            {{post.postBody}}
        </p>
        <hr style="clear: left;">

        <div class="button" style="float:left; padding: .5% .6%;">reply </div>
        <div class="button" style="float:right; padding: .5% .6%;">subscribe</div>
        <br><br>
        <hr style="clear: left;">
        <br>
    </div>
</div>

<!-- Reply field -->
<div ng-controller="ReplyForm as ctrl">

<form style="text-align: center;" ng-submit="ctrl.$isValid && ctrl.reply()" novalidate>

<textarea ng-model="ctrl.UserPost" rows = "7" cols="50" class="replyBox" required> </textarea><br>
<input ng-model="ctrl.UserID" style="text-align: left;" type="text" required> </input>

<input class="button" type="button" value="Preview">
<input class="button" type="submit" value="Post">

</form>
</div>


</body>
</html>